* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.hljs{
    padding: 3px 5px;
    font-family: monospace;
    /* background-color: #1e1e1e; */
    /* color: green; */
}


body {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body::-webkit-scrollbar {
    width: 0
}
.panel {
    width: calc(100vw - 400px);
    margin-top: 30px;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
}

.panel .title {
    font-size: 14px;
    color: #5f6368;
    display: block;
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

#app {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    column-gap: 16px;
    row-gap: 24px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 112px;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: #fff;
}

.container:hover {
    background-color: #ededed;
}

.icon {
    font-size: 40px;
    color: #5f6368;
    margin-top: 20px;
}

.iconName {
    padding: 0 8px;
    font-size: 12px;
    margin-top: 27px;
    color: #5f6368;
    font-weight: bold;
    text-align: center;
}



.title::before {
    content: "";
    width: 4px;
    height: 8px;
    background-color: #1f6bd3;
    border-radius: 2px;
    position: absolute;
    top: 6px;
    left: 0px;
}

.picker {
    display: flex;
    flex-wrap: wrap;
    transition: all .5s ease-in-out;
}

.picker li {
    border: 1px solid #dedede;
    border-radius: 20px;
    padding: 5px 17px;
    color: #5f6368;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.picker li.checked {
    background-color: #e8f0fe;
    border: 1px solid #e8f0fe;
    color: #1f6bd3;
}